@charset "UTF-8";

@font-face {
    font-family: 'PassionOne';
    src: url(PassionOne-Regular.ttf)
}

@font-face {
    font-family: 'Siracha';
    src: url(Sriracha-Regular.ttf);
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
}

header {
    font-family: 'PassionOne';
    background-color: black;
    color: white;
    text-align: center;
}

header > p {
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}

h1 {
    font-family: 'PassionOne';
    font-variant: small-caps;
    padding-top: 50px;
    font-size: 4em;
    font-weight: normal;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: 'Siracha';
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    color: white;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.515);
}

#img01 {
    background-image: url('background001.jpg');
    background-position: right center;
}

#img02 {
    background-image: url('background002.jpg');
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.599);
    text-shadow: 1px 1px 0px black;
}
    
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}

