@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #FF6B1A, #B33F00);
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #5a200091;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #006663;
    text-align: center;
    text-shadow: 1px 1px 2px #005956c6;
}

h2{
    color: #008a85;
}

p{
    text-align: justify;
}